<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <service
            android:name="com.ivvlev.car.radio.web.WebRadioService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
